<!DOCTYPE html>
<head>
<style>
canvas {
    border: 1px solid black;
}
video {
    border: 1px solid black;
}
.err {
    color: red;
}
</style>
</head>
<body>

<p class="err" id="vdErr"></p>
</div>
<div id="contentarea">
    <button id="startup" disabled="true" onclick="startup()">start</button>
    <button id="stop" disabled="true" onclick="stopCamera()">stop</button><br>
    <video id="video">Your browser does not support the video tag.</video>
    <canvas id="canvasOutput"></canvas>
</div>

<script async src="{{ url_for('static', filename='opencv.js') }}" id="opencvjs"></script>

<script>
// In this case, We set width 320, and the height will be computed based on the input stream.
let width = 640;
let height = 0;

// whether streaming video from the camera.
let streaming = false;

// Some HTML elements we need to configure.
let video = null;
let start = null;
let stop = null;
let stream = null;

let loopIndex = 0;

let cap = null;
let inputImage = null;
let markerImage = null;
let dictionary = null;
let parameter = null;
let markerIds = null;
let markerCorners = null;
let RgbImage = null;

function get_aruco(){
    inputImage = new cv.Mat(height, width, cv.CV_8UC4);
    markerImage = new cv.Mat();
    dictionary = new cv.aruco_Dictionary(cv.DICT_4X4_250);

    markerIds = new cv.Mat();
    markerCorners  = new cv.MatVector();
    RgbImage = new cv.Mat();
    cap = new cv.VideoCapture("video");
    loopIndex = setInterval(
        // function(){
        //     cap.read(inputImage);
        //     cv.cvtColor(inputImage, RgbImage, cv.COLOR_RGBA2RGB, 0);
        //     cv.detectMarkers(RgbImage, dictionary, markerCorners, markerIds);
        //     if (markerIds.rows > 0) {
        //         cv.drawDetectedMarkers(RgbImage, markerCorners, markerIds);
        //     }
        //     cv.imshow("canvasOutput", RgbImage);
        // }
        one_time_step
        , 33);
}

function one_time_step(){
    cap.read(inputImage);
    cv.cvtColor(inputImage, RgbImage, cv.COLOR_RGBA2RGB, 0);
    cv.detectMarkers(RgbImage, dictionary, markerCorners, markerIds);
    if (markerIds.rows > 0) {
        cv.drawDetectedMarkers(RgbImage, markerCorners, markerIds);
    }
    cv.imshow("canvasOutput", RgbImage);
}

function initVideo(ev){
    if (!streaming) {
        height = video.videoHeight / (video.videoWidth/width);
        video.setAttribute("width", width);
        video.setAttribute("height", height);
        streaming = true;
    }
    stop.disabled = false;
    playVideo();
}

function startup() {
    video = document.getElementById("video");
    start = document.getElementById("startup");
    stop = document.getElementById("stop");

    navigator.mediaDevices.getUserMedia({ video: {facingMode: "environment"}, audio: false })
        .then(function(s) {
            stream = s;
            video.srcObject = stream;
            video.play();
        })
        .catch(function(err) {
            console.log("An error occured! " + err);
    });

    video.addEventListener("canplay", initVideo, false);
}

function playVideo() {
    if (!streaming) {
        console.warn("Please startup your webcam");
        return;
    }
    try {
        get_aruco();
        document.getElementById("vdErr").innerHTML = " ";
    } catch(err) {
        document.getElementById("vdErr").innerHTML = err;
    }
    start.disabled = true;
}

function stopCamera() {
    clearInterval(loopIndex);
    if (inputImage != null && !inputImage.isDeleted()) {
        inputImage.delete();
        inputImage = null;
    }
    if (markerImage != null && !markerImage.isDeleted()) {
        markerImage.delete();
        markerImage = null;
    }
    if (dictionary != null && !dictionary.isDeleted()) {
        dictionary.delete();
        dictionary = null;
    }
    if (parameter != null && !parameter.isDeleted()) {
        parameter.delete();
        parameter = null;
    }
    if (markerIds != null && !markerIds.isDeleted()) {
        markerIds.delete();
        markerIds = null;
    }
    if (markerCorners != null && !markerCorners.isDeleted()) {
        markerCorners.delete();
        markerCorners = null;
    }
    if (rvecs != null && !rvecs.isDeleted()) {
        rvecs.delete();
        rvecs = null;
    }
    if (tvecs != null && !tvecs.isDeleted()) {
        tvecs.delete();
        tvecs = null;
    }
    if (RgbImage != null && !RgbImage.isDeleted()) {
        RgbImage.delete();
        RgbImage = null;
    }
    if (cameraMatrix != null && !cameraMatrix.isDeleted()) {
        cameraMatrix.delete();
        cameraMatrix = null;
    }
    if (distCoeffs != null && !distCoeffs.isDeleted()) {
        distCoeffs.delete();
        distCoeffs = null;
    }
    document.getElementById("canvasOutput").getContext("2d").clearRect(0, 0, width, height);
    video.pause();
    video.srcObject = null;
    stream.getVideoTracks()[0].stop();
    start.disabled = false;
    video.removeEventListener("canplay", initVideo);
}

function onReady() {
    document.getElementById("startup").disabled = false;
}
if (typeof cv !== 'undefined') {
    onReady();
} else {
    document.getElementById("opencvjs").onload = onReady;
}
</script>
</body>